<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Vampire is here!!!. Oliviaaa GOOOO!!!</p>
    <p>Can't wait for OR2.</p>
    <p>Can't wait for OR2.</p>
    <p>Can't wait for OR2.</p>
  </body>
</html>
